# Flask
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=citafina_nexcredit_server
DB_USER=root
DB_PASSWORD=

# Login OTP SMS
LOGIN_OTP_EXPIRES_SECONDS=300
ZAMTEL_API_KEY=your-zamtel-api-key
ZAMTEL_SENDER_ID=your-zamtel-sender-id
ZAMTEL_BASE_URL=https://bulksms.zamtel.co.zm/api/v2.1/action/send/
